<!doctype html>
<html>
    <head>
        {% block head %}
            <!-- CLARITY DESIGN -->
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/clarity/clr-ui.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/clarity/clr-icons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
            <script src="{{ url_for('static', filename='scripts/clarity/custom-elements.min.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/clarity/clr-icons.min.js') }}"></script>
            
            <!-- FAVICON-->
            <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
            
            <!-- PAGE TITLE-->
            <title>WinRM Demo</title>
        {% endblock %}
    </head>

    <body>
        <div class="main-container">
            <!-- NAV BAR-->
            <header class="header header-1">
                <!-- TITLE -->
                <div class="branding">
                    <a href="{{ url_for('page.index') }}" class="nav-link">                        
                        <clr-icon shape="computer" class="is-solid" width="32px" height="32px" style="color: hsl(198, 0%, 100%);"></clr-icon>
                        <span class="title">WinRM Demo</span>
                    </a>
                </div>
            </header>

            <!-- SUBNAV -->
            <nav class="subnav">
                <ul class="nav">
                    <li class="nav-item">
                        <!-- <a class="nav-link active" href="{{ url_for('page.index') }}">Home</a> -->
                        <a class="nav-link" href="{{ url_for('page.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('page.download') }}">Sample JSON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('page.pageFile') }}">Uploads/Downloads</a>
                    </li>                    
                </ul>
            </nav>

            <!-- HEADER -->
            {% if self.header() %}
            <div id='dplHeader' style="background-color: #FFF; width: 100%; padding: 0; margin: 0; border-bottom: 1px solid #CFCFCF;">
                <div id='dplContent' style="padding-left: 50px; padding-top: 20px;">
                    {% block header %}{% endblock %}
                </div>
            </div>
            {% endif %}
                    
            <!-- MAIN CONTENT -->
            <div class="content-container">
                <div class="content-area">
                    <div class="clr-row">
                        <div class="clr-col">
                            <span></span>
                        </div>
                        <div class="clr-col-10">
                            <!-- PAGE TITLE -->
                            <h1>{% block content_title %}{% endblock %}</h1>

                            <!-- CONTENT -->
                            {% block content %}{% endblock %}
                        </div>
                        <div class="clr-col">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SCRIPT BLOCK -->
        {% block scripts %}
        {% endblock %}

    </body>
</html>